:root {
    --spacer: calc(1vw / .05);
    --primary: #fdd700;
    --clr-ok: #76ca07;

    color-scheme: dark;
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
}

a {
    position: relative;
}

a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    width: 100%;
    height: .1em;
    transform: scaleX(0);
    transform-origin: right;
    transition: 300ms ease-out transform;
}

a:hover::after,
a:focus-within::after {
    transform-origin: left;
    transform: scaleX(1);
}

a:visited{
    color: unset;
}

a:active {
    color: var(--primary);
}

h1 {
    font-size: 2.125em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.125em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 1em;
}


@media (max-width: 980px) {
    :root {
        --spacer: 1rem;
    }
}

@media (min-width: 1980px) {
    :root {
        --spacer: calc(1vw / .03);
    }
}

.dark-theme {
    background-color: #121212;
    color: #FFFFFF;
    min-height: calc(100vh - 3.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    font-family: 'Roboto', sans-serif; /* Ensure you import this globally as well */
  }
  
  .container {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Or 'center' depending on your default preference */
    align-items: center;
  }
  
  .card {
    background-color: #1E1E1E;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    padding: 16px;
    margin-bottom: 16px;
    width: 100%;
  }
  
  .link {
    color: var(--primary); /* Using the global primary color */
    text-decoration: underline;
    font-weight: 500;
  }

  .info {
    background-color: #BB86FC; /* Or your preferred info color */
    color: #121212;
    padding: 12px;
    border-radius: 4px;
  }
  
  .warning {
    color: #FFB300; /* Or your preferred warning color */
  }
  
  .warning-info {
    color: #03DAC6; /* Or your preferred warning info color */
  }
  
  .error {
    color: #FFB300; /* Or your preferred error color */
    text-align: center;
    margin-top: 16px;
  }
  
  .loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
  }

  
